DB_ROOT_PASSWORD=randomrootpassword
DB_DATABASE=nestjs_typeorm
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=randomrootpassword
DB_SYNCHRONIZE=true


JWT_ACCESS_SECRET="xxx"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET="xxxx"
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
CORS_CREDENTIALS=true

RATE_GLOBAL_TTL=900
RATE_GLOBAL_LIMIT=10000
RATE_LOGIN_TTL=600
RATE_LOGIN_LIMIT=10000

REQUEST_ID_HEADER=x-request-id